# Análise de dados do Covid19 em Palmas-TO e Região

## Objetivos Gerais

Este projeto tem por objetivo analisar os casos de covid19 no Tocantins e verificar se é possível descobrir informações relevantes sobre o vírus. Para isto, serão analisados dados informados pelo site do ministério da saúde sobre os números de casos do covid e criação de um site para publicação destas informações.

## Objetivos específicos

* Aquisição da base de dados;
* Análise dos dados;
* Visualização dos dados;
* Criação de um Dash sobre os dados;

In [4]:
#Imports
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Padronizar paleta de cores
sns.set_palette(palette='YlGnBu')
sns.set_style('darkgrid')

In [12]:
#Aquisição dos dados
PROJECT_DIR = '.'
DATA_DIR = 'data'
DATA_PATH = os.path.join(PROJECT_DIR, DATA_DIR)
print(DATA_PATH)

./data

In [36]:
import glob 

filenames = glob.glob(DATA_PATH + "/*.csv")
df = pd.DataFrame()

# for loop to iterate all csv files 
for file in filenames: 
    df_ = pd.read_csv(file, sep='delimiter')
    
    # Concatenando dataframes
    df = pd.concat([df, df_], axis=0)

In [37]:
df.head()

  regiao;estado;municipio;coduf;codmun;codRegiaoSaude;nomeRegiaoSaude;data;semanaEpi;populacaoTCU2019;casosAcumulado;casosNovos;obitosAcumulado;obitosNovos;Recuperadosnovos;emAcompanhamentoNovos;interior/metropolitana
0  Brasil;;;76;;;;2021-01-01;53;210147125;7700578...
1  Brasil;;;76;;;;2021-01-02;53;210147125;7716405...
2  Brasil;;;76;;;;2021-01-03;1;210147125;7733746;...
3  Brasil;;;76;;;;2021-01-04;1;210147125;7753752;...
4  Brasil;;;76;;;;2021-01-05;1;210147125;7810400;...